<div class="modal-header" style="padding-bottom:0">
	<h3 class="modal-title">
		User Edit&nbsp;
		<small>{{user.name}}</small>
	</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-8">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="user_name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="user_name" ng-model="user.name" placeholder="Name">
					</div>
				</div>
				<div class="form-group">
					<label for="user_title" class="col-sm-2 control-label">Title</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="user_title" ng-model="user.title" placeholder="Title">
					</div>
				</div>
				<div class="form-group">
					<label for="user_firm" class="col-sm-2 control-label">Firm</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="user_firm" ng-model="user.firm" placeholder="Firm">
					</div>
				</div>
				<div class="form-group">
					<label for="user_email" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="user_email" ng-model="user.email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="user_phone" class="col-sm-2 control-label">Phone</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="user_phone" ng-model="user.phone" placeholder="Phone">
					</div>
				</div>
				<div class="form-group">
					<label for="user_city" class="col-sm-2 control-label">City</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="user_city" ng-model="user.city" placeholder="City">
					</div>
				</div>
				<div class="form-group">
					<label for="user_state" class="col-sm-2 control-label">State</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="user_state" ng-model="user.state" placeholder="State">
					</div>
				</div>
				<div class="form-group">
					<label for="user_member" class="col-sm-2 control-label">Member</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="user_member" ng-model="user.member" placeholder="Member">
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="user_img">
					Photo&nbsp;
					<code>http://upstreamacademy.com/apps/</code>
				</label>
				<input type="text" id="user_img" class="form-control" ng-model="user.photo" placeholder="Img">
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="user_bio">Bio</label>
		<textarea id="user_bio" ng-model="user.bio" class="form-control text-auto-scale" ></textarea>
	</div>

	<!-- <pre>{{ user | json }}</pre> -->
</div>
<div class="modal-footer">
	<div class="pull-left" ng-if="is_admin">
		<button class="btn btn-danger" ng-click="rem(user)">Delete User</button>&nbsp;&nbsp;
		<label>
			<input type="checkbox" ng-model="user.admin" ng-true-value="true" ng-false-value="false">
			Is an Administrator
		</label>
	</div>
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>