/* Sticky footer styles
-------------------------------------------------- */
html, body { height: 100%; } /* The html and body elements cannot have any padding or margin. */
#wrap { /* Wrapper for page content to push down footer */
	min-height: 100%;
	/*height: auto !important;*/
	height: 100%;
	margin: 0 auto -60px; /* Negative indent footer by its height */
	padding: 0 0 60px; /* Pad bottom by footer height */
}
#footer { 
	height: 60px; /* Set the fixed height of the footer here */
	border-radius: 0;
	margin-bottom: 0;
}
/*#wrap > .color-2 { background-color: #E7E7E7; }*/
#wrap > .color > .container { padding: 200px 15px 60px; }
/*#wrap > .color > .container { padding: 60px 15px; }*/
#wrap > .color:last-child { min-height: 100%; }
#wrap > .color:last-child > .container {
	min-height: 100%;
	margin-bottom: 60px;
}
.container .credit { margin: 20px 0; }
#footer > .container { padding-left: 15px; padding-right: 15px; }
code { font-size: 80%; }
img.pull-right { padding: 0; margin: 0 0 1em 1em; }
.center-cropped {
	width: 75px;
	height: 100px;
	overflow: hidden;
	margin-right: .5em;
	position: relative;
}
.center-cropped img {
	position: absolute;
	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
	margin: auto;
}
.social { margin-top: 16px; }
.social a {
	line-height: 0;
	font-size: 30px;
}

/* colors */
.jumbotron, .well {
	background-color: #FDB016;
}
.navbar-default {
	background-color: #151F60;
	border-color: #FDA044;
}
.navbar-default .navbar-nav > li > a,
.credit, .credit a {
	color: #FDA044;
}
.navbar-default .navbar-brand {
	color: #FDA044;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover,
.navbar.navbar-default .navbar-nav > .open > a {
	color: #240D4A;
	background-color: #FDA044;
}
.color-1 > div > .page-header:first-child, .color-1 .page-header small ,
.color-1 > div > div > .page-header:first-child, .color-1 .page-header small {
	background-color: #FDB016;
	color: #240D4A;
}
.color-2 > div > .page-header:first-child, .color-2 .page-header small ,
.color-2 > div > div > .page-header:first-child, .color-2 .page-header small {
	background-color: #151F60;
	color: #FDA044;
}
.color > div > .page-header:first-child,
.color > div > div > .page-header:first-child {
	margin: -200px 0 20px;
	padding-top: 100px;
	position: absolute;
	left: 0;
	right: 0;
}
.color .page-header h1 {
	font-size: 24px;
	margin-top: 0;
}
/* end colors */


/* Person-Notes dialog class */
.person-notes .modal-header { padding-bottom: 5px; }
.person-notes .modal-header h2 { margin: 0; }
.person-notes .modal-body { padding-bottom: 0; }
.person-notes .modal-body .image { padding-bottom: 1em; }
.person-notes .modal-body textarea {
	background-color: #fff;
	background-image: 
		linear-gradient(90deg, transparent 19px, #abced4 19px, #abced4 21px, transparent 21px), 
		linear-gradient(transparent .2em, #eee .2em, #eee .3em, transparent .3em);
	background-size: 100% 1.42857143em;
	padding-left: 25px;
}
.person-notes .modal-footer { padding: 10px; }

textarea.text-auto-scale { resize: none; }

.img-loader { position: relative; }
.img-loader .spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	height: 15px;
	width: 128px;
	margin: -7px -64px;
	display: none;
}

/* map */
.full-map {
	height: 100%;
	width: 100%;
	min-height: 600px;
}

/* speakers */
.thumbnail {
	background-color: white;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	position: relative;
}
.thumbnail.active { 
	background-color: #FCF8E3;
}
.thumbnail .direct-link {
	display: none;
	position: absolute;
	bottom: 5px;
	right: 10px;
}
.thumbnail:hover .direct-link { display: block; }


.full-map {
	background-color: #E5E3DF;
	position: relative;
	border: 4px solid transparent;
	border-color: transparent;

	-webkit-transition: border .5s ease-in-out;
	-moz-transition: border .5s ease-in-out;
	-ms-transition: border .5s ease-in-out;
	-o-transition: border .5s ease-in-out;
	transition: border .5s ease-in-out;
}
.full-map:hover { border-color: black; }
.full-map:before {
	content: 'Loading...';
	top: 50%;
	left: 50%;
	position: absolute;
	color: #808080;
	font-size: 4em;
	height: 100px;
	line-height: 100px;
	width: 300px;
	text-align: center;
	margin: -50px -150px;
	border-radius: 5px;
	border: 1px solid #808080;
}

/* tinyMCE styles */
.mce-path > .mce-path-item, .mce-path > .mce-divider { visibility: hidden; }
.mce-path { padding: 0px !important; }
