<div class="page-header">
	<h1>Sponsors</h1>
</div>

<div class="form-group">
	<textarea name="conf.html_sponsors" class="form-control"><?=$event['html_sponsors']; ?></textarea>
</div>

<div data-ng-controller="event-edit-sponsor">

	<div class="input-group" style="width:100%">
		<label for="new_sponsor" class="input-group-addon">Add Sponsor</label>
		<select class="form-control input-sm" ng-model="new_sponsor" id="new_sponsor"
			ng-options="value.name for value in companies | filter:{sponsorID:'!'} | orderBy:'name'" >
			<option value=""> &mdash; New Company &mdash; </option>
		</select>
		<span class="input-group-btn">
			<button class="btn btn-default btn-success btn-sm" type="button" data-ng-click="add()">Add</button>
		</span>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Company</th>
				<th>Advertisement <small style="font-weight:normal">Click to edit</small></th>
				<th>Logo</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat=" company in companies | filter:{sponsorID:'!!'} | orderBy:['priority','name'] ">
				<td><a data-ng-href="{{company.site}}">{{company.name}}</a></td>
				<td data-col-editor data-col-field="company.advert" data-save-cb="set(company)">-</td>
				<td>
					{{company.logo}}
					<div class="pull-right">
						<small>#{{company.priority}}</small>
						<button type="button" class="btn btn-default btn-xs" data-ng-click="move(company, -1)"><i class="glyphicon glyphicon-chevron-up"></i></button>
						<button type="button" class="btn btn-default btn-xs" data-ng-click="move(company, +1)"><i class="glyphicon glyphicon-chevron-down"></i></button>
						<button type="button" class="btn btn-default btn-xs" data-ng-click="edit(company)"><i class="glyphicon glyphicon-edit"></i></button>
						<button type="button" class="btn btn-default btn-xs" data-ng-click="rem(company)"><i class="glyphicon glyphicon-remove"></i></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- <pre>{{companies | json}}</pre> -->

</div>

<input type="submit" value="Save Conference" onclick="document.forms[0].submit()" class="btn btn-default pull-right">