<div class="page-header">
	<div class="container">
		<h1>Manage Conferences</h1>
	</div>
</div>

<p class="lead">
	This is where you can Create, Read, Update and Delete (CRUD) conference settings
</p>
<p class="text-danger">
	Warning: If you delete a conference, it's attendees, speakers and sponsors will no longer be able to access it's information.
</p>

<div ng-controller="conf" class="row">
	<div class="col-md-6">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Theme</th>
					<th>Slug</th>
					<th style="width:140px">Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="conf in confs | orderBy:'title'">
					<td data-col-editor data-col-field="conf.title" data-save-cb="set_conf(conf)">-</td>
					<td data-col-editor data-col-field="conf.theme" data-save-cb="set_conf(conf)">-</td>
					<td data-col-editor data-col-field="conf.slug"  data-save-cb="set_conf(conf)">-</td>
					<td>
						<div class="btn-group">
							<a ng-href="./{{conf.slug}}" class="btn btn-default btn-xs" title="View Full Conference">
								<i class="glyphicon glyphicon-send"></i>
							</a>
							<a ng-href="./{{conf.slug}}?edit" class="btn btn-default btn-xs" title="Edit Full Conference">
								<i class="glyphicon glyphicon-edit"></i>
							</a>
							<button type="button" class="btn btn-default btn-xs dramatic" ng-model="conf.display_pictures" ng-change="set_conf(conf)"
								btn-checkbox btn-checkbox-true="'true'" btn-checkbox-false="'false'"
								title="Display profile images on attendee visable list of event participants?"
							>
								<i class="glyphicon glyphicon-user"></i>
							</button>
							<button type="button" class="btn btn-default btn-xs dramatic" ng-model="conf.visible" ng-change="set_conf(conf)"
								btn-checkbox btn-checkbox-true="'true'" btn-cehckbox-false="'false'"
								title="Visible to participants (shows up in 'my conference' section)"
							>
								<i class="glyphicon glyphicon-eye-open"></i>
							</button>
							<button ng-click="rem_conf(conf)" class="btn btn-danger btn-xs" title="Delete Conference">
								<i class="glyphicon glyphicon-remove"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<form class="form-horizontal" role="form" ng-submit="save()">
			<div class="form-group">
				<label for="conf_title" class="col-sm-2 control-label">Title</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="conf_title" placeholder="Title" ng-model="mod.title" required>
				</div>
			</div>
			<div class="form-group">
				<label for="conf_theme" class="col-sm-2 control-label">Theme</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="conf_theme" placeholder="Theme" ng-model="mod.theme" required>
				</div>
			</div>
			<div class="form-group">
				<label for="conf_slug" class="col-sm-2 control-label">Slug</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="conf_slug" placeholder="Slug" ng-model="mod.slug" required>
					<p class="help-block">
						This is what will appear in the URL<br/>
						Should be <em>lowercase characters + numbers</em> ONLY<br/>
						Should be <b>UNIQUE!</b>
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Add Conference</button>
				</div>
			</div>
		</form>
	</div>
</div>